@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?scq6q3');
  src:  url('../fonts/icomoon.eot?scq6q3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?scq6q3') format('truetype'),
    url('../fonts/icomoon.woff?scq6q3') format('woff'),
    url('../fonts/icomoon.svg?scq6q3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-official:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-brand:before {
  content: "\e902";
}
.icon-social:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-brand2:before {
  content: "\e903";
}
.icon-social2:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e900";
}
.icon-purchase:before {
  content: "\e900";
}
.icon-ecommerce:before {
  content: "\e900";
}
.icon-shopping:before {
  content: "\e900";
}

body{
  margin: 0;
  padding: 0;
  background: #263238;
  font-family: 'Nobile', sans-serif;
}
.encabezado{
  background: #263238;
}

.header{

  display: flex;
  justify-content: space-between;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}
.logo{
  margin: 0;
  padding: 0;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 10px;
  text-align: center;
}

.menu li{
  color: white;
  text-align: center;
}
.menu a{
  color: white;
  margin: 10px;
  text-align: center;
}

.menu li:after{
  content: "|";
}

.menu li:first-child:before{
  content: "|";
}
.menu a:hover{
  text-decoration: underline;
}
.portada{
  background-image: url('landing.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 900px;
}
.portada .cover1{
  margin: 0;
  position: absolute;
  background: rgba(59, 194, 217, 0.7);
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  top: 80px;
  text-align: center;
  width: 265px;
}
.portada .cover1 h3{
  font-size: 45px;
}
.portada .cover2{
  top: 280px;
  position: absolute;
  color: white;
  background: rgb(254, 206, 48);
  text-align: justify;
  padding: 18px;
  display: inline-block;
  width: 265px;
}
.portada .cover2 p{
  float: right;
}
.portada .cover2 .icon-cart{
  font-size: 22px;
}
.portada .cover2 .price{
  margin: 0;
}

.portada .cover3{
  position: absolute;
  top: 493px;
  color: white;
  background: rgb(59, 194, 217);
  padding: 18px;
  width: 265px;
  text-align:justify;
}
.portada .cover3 h3{
  font-size: 20px;
}

.portada .cover4 h1{
 color: white;
 position: absolute;
 top: 100px;
 font-size: 42px;
 right: 0;
}
.portada .cover4 h5{
 color: white;
 position: absolute;
 top: 200px;
 width: 415px;
 font-size: 16px;
 text-align:justify;
 right: 0;
}

.container{
 position: relative;
}
.contenedor{

 max-width:1200px;

}

#top-products .msg{
 color: white;
 border-bottom: 1px solid white
}
#top-products{
 margin-top: 20px;
 border-bottom: 1px solid white;

}

#top-products {
 text-align: center;

}
#top-products p, #top-products span{
 text-align: left;

}
#special-products .msg{
 margin-bottom: 0;
}
#special-products{
 text-align:center;
}
#special-products p{
 text-align: left;
}

#special-products{
 border-bottom: 1px solid white;
}
#special-products h3{
 text-align: left;
 font-size: 25px;
 color: white;
 background-color: rgba(255, 255, 255, 0.5);
 padding: 10px;
 margin: 0;
}

#special-products .card-action{
 text-align: center;
 margin: 0;
}
#special-products .card-action a{
 border: 1px solid #4db6ac;
 margin: 0;
 padding: 5px;
 color: #4db6ac;
}
#top-products h3{
 font-size: 25px;
 color: white;
 text-align: left;
 margin-bottom: 0;
}
#location{
 margin-top:25px;
 border-bottom: 1px solid white;
}
#location iframe{
 width: 100%;
 height: 400px;
}

#location .col .info{
 color: white;
 margin-top: 150px;
}
#credito{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social{
  margin-top: 80px;
  color: white;
  font-size: 15px;
  font-family: 'Nobile', sans-serif;
}

footer .social span{
  font-family: 'Nobile', sans-serif;

}
footer .social i{
  font-size: 20px;
}
.site1{
  text-align: center;
  color: white;
}
.site1 #credito {
  margin-top: 35px;
}
.ult{
  text-align: center;
  color: white;
}
.ult a:hover{
  text-decoration: underline;
}
