@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?scq6q3');
  src:  url('fonts/icomoon.eot?scq6q3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?scq6q3') format('truetype'),
    url('fonts/icomoon.woff?scq6q3') format('woff'),
    url('fonts/icomoon.svg?scq6q3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-official:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-brand:before {
  content: "\e902";
}
.icon-social:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-brand2:before {
  content: "\e903";
}
.icon-social2:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e900";
}
.icon-purchase:before {
  content: "\e900";
}
.icon-ecommerce:before {
  content: "\e900";
}
.icon-shopping:before {
  content: "\e900";
}

body{
  margin: 0;
  padding: 0;
  background: #263238;
  font-family: 'Nobile', sans-serif;
}
.encabezado{
  background: #263238;
}

.header{

  display: flex;
  justify-content: space-between;
}
.contenedor{
  max-width: 1500px;
  margin: 0 auto;
}
.logo{
  margin: 0;
  padding: 0;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 10px;
  text-align: center;
}

.menu li{
  color: white;
  text-align: center;
}
.menu a{
  color: white;
  margin: 10px;
  text-align: center;
}

.menu li:after{
  content: "|";
}

.menu li:first-child:before{
  content: "|";
}
.menu li:hover{
  text-decoration: underline;
}
.portada{
  background-image: url('images/186.jpg');
  background-size: cover;
  width: 100%;
  height: 900px;
}
.portada .cover1{
  margin: 0;
  position: absolute;
  background: rgba(59, 194, 217, 0.7);
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  top: 150px;
  text-align: center;
}
.portada .cover1 h3{
  font-size: 45px;
}
.portada .cover2{
  top: 350px;
  position: absolute;
  color: white;
  background: rgb(254, 206, 48);
  text-align: justify;
  padding: 18px;
  display: inline-block;
}
.portada .cover2 p{
  float: right;
}
.portada .cover2 .icon-cart{
  font-size: 22px;
}
.portada .cover2 .price{
  margin: 0;
}

.portada .cover3{
  position: absolute;
  top: 563px;
  color: white;
  background: rgb(59, 194, 217);
  padding: 18px;
  width: 265px;
  text-align:justify;
}
.portada .cover3 h3{
  font-size: 20px;
}
